flows.json
[{"id":"26a66792.2eb258","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f29c5821.f58b78","type":"function","z":"26a66792.2eb258","name":"RLY1-On","func":"msg.payload = {\n    'fc' : 5,\n    'unitid' : 1,\n    'address': 4,\n    'quantity': 1,\n    'value':1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":220,"wires":[["2dc03287.c1b3de"]]},{"id":"dab0e8c.37c2b18","type":"switch","z":"26a66792.2eb258","name":"on or off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":240,"wires":[["f29c5821.f58b78"],["83d34adf.275a08"]]},{"id":"83d34adf.275a08","type":"function","z":"26a66792.2eb258","name":"RLY1-Off","func":"msg.payload = {\n    'fc' : 5,\n    'unitid' : 1,\n    'address': 4,\n    'quantity': 1,\n    'value':0\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":260,"wires":[["2dc03287.c1b3de"]]},{"id":"2dc03287.c1b3de","type":"modbus-flex-write","z":"26a66792.2eb258","name":"","showStatusActivities":true,"showErrors":true,"server":"752daf02.191cc","emptyMsgOnFail":false,"keepMsgProperties":false,"x":910,"y":360,"wires":[["4e5b065e.8cc298"],["4e5b065e.8cc298"]]},{"id":"cef5a16.e4f416","type":"switch","z":"26a66792.2eb258","name":"on or off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":320,"wires":[["eaf5a981.a3b578"],["4950395f.4c23b8"]]},{"id":"eaf5a981.a3b578","type":"function","z":"26a66792.2eb258","name":"RLY1-On","func":"msg.payload = {\n    'fc' : 5,\n    'unitid' : 1,\n    'address': 5,\n    'quantity': 1,\n    'value':1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":300,"wires":[["2dc03287.c1b3de"]]},{"id":"4950395f.4c23b8","type":"function","z":"26a66792.2eb258","name":"RLY1-Off","func":"msg.payload = {\n    'fc' : 5,\n    'unitid' : 1,\n    'address': 5,\n    'quantity': 1,\n    'value':0\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":340,"wires":[["2dc03287.c1b3de"]]},{"id":"c3334499.4870c8","type":"switch","z":"26a66792.2eb258","name":"on or off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":400,"wires":[["3ef2b11e.9ff7be"],["b740a095.4b175"]]},{"id":"3ef2b11e.9ff7be","type":"function","z":"26a66792.2eb258","name":"RLY1-On","func":"msg.payload = {\n    'fc' : 5,\n    'unitid' : 1,\n    'address': 6,\n    'quantity': 1,\n    'value':1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":380,"wires":[["2dc03287.c1b3de"]]},{"id":"b740a095.4b175","type":"function","z":"26a66792.2eb258","name":"RLY1-Off","func":"msg.payload = {\n    'fc' : 5,\n    'unitid' : 1,\n    'address': 6,\n    'quantity': 1,\n    'value':0\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":420,"wires":[["2dc03287.c1b3de"]]},{"id":"db20c0a5.4a0af","type":"ui_switch","z":"26a66792.2eb258","name":"","label":"SW3","tooltip":"","group":"9ed2c7ae.2686c8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":390,"y":400,"wires":[["c3334499.4870c8"]]},{"id":"ea29f627.fb7388","type":"switch","z":"26a66792.2eb258","name":"on or off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":460,"wires":[["6e664360.3c1ebc"],["b4efe261.8b3a6"]]},{"id":"6e664360.3c1ebc","type":"function","z":"26a66792.2eb258","name":"RLY1-On","func":"msg.payload = {\n    'fc' : 5,\n    'unitid' : 1,\n    'address': 7,\n    'quantity': 1,\n    'value':1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":460,"wires":[["2dc03287.c1b3de"]]},{"id":"b4efe261.8b3a6","type":"function","z":"26a66792.2eb258","name":"RLY1-Off","func":"msg.payload = {\n    'fc' : 5,\n    'unitid' : 1,\n    'address': 7,\n    'quantity': 1,\n    'value':0\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":500,"wires":[["2dc03287.c1b3de"]]},{"id":"f2c50f4e.cd264","type":"ui_switch","z":"26a66792.2eb258","name":"","label":"SW4","tooltip":"","group":"9ed2c7ae.2686c8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":390,"y":480,"wires":[["ea29f627.fb7388"]]},{"id":"4dc884a0.a72b1c","type":"http in","z":"26a66792.2eb258","name":"","url":"R1","method":"post","upload":false,"swaggerDoc":"","x":120,"y":220,"wires":[["4c3b6841.76d578"]]},{"id":"4c3b6841.76d578","type":"function","z":"26a66792.2eb258","name":"","func":"msg.payload = msg.payload.Value\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":220,"wires":[["dab0e8c.37c2b18","2a20f2de.6bc8ee"]]},{"id":"2a20f2de.6bc8ee","type":"http response","z":"26a66792.2eb258","name":"","statusCode":"","headers":{},"x":410,"y":160,"wires":[]},{"id":"7b83adb0.d155a4","type":"ui_switch","z":"26a66792.2eb258","name":"","label":"SW2","tooltip":"","group":"9ed2c7ae.2686c8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":390,"y":320,"wires":[["cef5a16.e4f416"]]},{"id":"53162cce.790654","type":"ui_switch","z":"26a66792.2eb258","name":"","label":"SW1","tooltip":"","group":"9ed2c7ae.2686c8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":430,"y":200,"wires":[["dab0e8c.37c2b18"]]},{"id":"b402590c.6c67c8","type":"http in","z":"26a66792.2eb258","name":"","url":"R2","method":"post","upload":false,"swaggerDoc":"","x":120,"y":280,"wires":[["537b3ee5.5efd7"]]},{"id":"537b3ee5.5efd7","type":"function","z":"26a66792.2eb258","name":"","func":"msg.payload = msg.payload.Value\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":280,"wires":[["c76ded67.e36c2","cef5a16.e4f416"]]},{"id":"c76ded67.e36c2","type":"http response","z":"26a66792.2eb258","name":"","statusCode":"","headers":{},"x":410,"y":260,"wires":[]},{"id":"fc604a12.e046a8","type":"function","z":"26a66792.2eb258","name":"","func":"msg.payload = msg.payload.Value\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":340,"wires":[["c3334499.4870c8","c994942.e50d968"]]},{"id":"f47b1561.0f2758","type":"function","z":"26a66792.2eb258","name":"","func":"msg.payload = msg.payload.Value\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":400,"wires":[["ea29f627.fb7388","d6f5ae57.6941b"]]},{"id":"a2ff6fcb.d0e53","type":"http in","z":"26a66792.2eb258","name":"","url":"R3","method":"post","upload":false,"swaggerDoc":"","x":120,"y":340,"wires":[["fc604a12.e046a8"]]},{"id":"78b47ed3.74b0c","type":"http in","z":"26a66792.2eb258","name":"","url":"R4","method":"post","upload":false,"swaggerDoc":"","x":120,"y":400,"wires":[["f47b1561.0f2758"]]},{"id":"c994942.e50d968","type":"http response","z":"26a66792.2eb258","name":"","statusCode":"","headers":{},"x":410,"y":360,"wires":[]},{"id":"d6f5ae57.6941b","type":"http response","z":"26a66792.2eb258","name":"","statusCode":"","headers":{},"x":410,"y":440,"wires":[]},{"id":"4e5b065e.8cc298","type":"modbus-response","z":"26a66792.2eb258","name":"","registerShowMax":20,"x":1130,"y":360,"wires":[]},{"id":"752daf02.191cc","type":"modbus-client","z":"","name":"X410","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.62","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"9ed2c7ae.2686c8","type":"ui_group","z":"","name":"Modbus","tab":"ec1184e3.12eef8","order":1,"disp":true,"width":"6","collapse":false},{"id":"ec1184e3.12eef8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]